body {
    background-color: black;
}

.main-logo {
    margin-top: 90px;
    width: 100%;
    height: auto;
}


#searchbar {
    margin-top: 100px;
}

#searchbar2 {
    margin-top: 50px;
}

.hidden {
    display: none;
}

.form-group {
    border-width: 1px;
    border-color: aliceblue;
    border-style: solid;
    padding: 10px;
}


.form-group:hover {
    background-color: rgb(198, 235, 66);
}

footer {
    height: 100px;
    width: 100%;
    background-color: rgb(37, 36, 36)
    
}