body {
    background-color: black;
}

h4 {
    margin-top: 10px;
}

.main-logo {
    margin-top: 90px;
    width: 100%;
    height: auto;
}

.jumbotron{
    background-color: rgb(52, 53, 51);
}

#searchbar {
    margin-top: 100px;
}

#searchbar2 {
    margin-top: 50px;
}

#crypto-header{
    font-family: 'Joti One', cursive;
    font-size: 20px;
    text-align: center;
}

.hidden {
    display: none;
    
}

.card {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(198, 235, 66);
}

.cardtext {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

.form-group {
    border-width: 1px;
    border-color: aliceblue;
    border-style: solid;
    padding: 10px;
}


.form-group:hover {
    background-color: rgb(83, 83, 82);
}

footer {
    height: 100px;
    width: 100%;
    background-color: rgb(37, 36, 36)
    
}